
<title><%= title%> </title>


<h1> Connect | <%= title%></h1>

<section class="feet-posts">
    <h4>Post</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" id="" cols="30" rows="3"></textarea>
        <input type="submit" value="POST " name="" id="">
    </form>
</section>
    