<h1>User sign In</h1>

<form action="/users/create-session">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="submit" value="Sign In">
</form>


